
<div class="imgDis">
  
<!-- EXPERIMENT 1 -->
<%# get_random_image.each do |id| %> 
<%#image_path_prefix = "/assets/creation/"%>
<%# image_files ="#{image_path_prefix}#{id}.jpg" %>
<%#= image_tag(image_files, height: '300', width: '400') %>
<%# end %> 

<!-- EXPERIMENT 2 -->
<%# count = 1 %> 
<%# get_random_img.each do |f, desc| %> 
<%# image_path_prefix = "/assets/creation/"%>
<%# id = f.slice(0) %> 
<%# class_str = "img" + count.to_s %> 
<%#= image_tag("#{image_path_prefix}#{f}",  :alt =>desc,  :class=> "#{class_str} imgRandom", :onClick =>"mouseClickFn(#{id})" ) %>
<%#= desc %>
<%##= content_tag(:div, desc, :class=> "imgTitle") %>
<%# count = count + 1 %> 
<%# end %> 

<% count = 0 %> 
<% image_path_prefix = "/assets/creation/"%>
<% image = get_random_img() %>  
<% 3.times do %>
<% id = image[count][0].slice(0) %>
<% idStr =  "img" + id.to_s %> 
<%= image_tag("#{image_path_prefix}#{image[count][0]}",  :alt =>'', :id=> "#{idStr}" , :class=> "imgRandom imgRandomTop", :onClick =>"mouseClickFn(#{id})" ) %>
<%= content_tag(:label, image[count][1], :class=> "imgTitle") %>
<% count= count + 1 %> 
<% end %> 
<h1 id="h1Day">Day 1</h1>
<%= image_tag("",  :alt =>'', :id=> "imgMas" , :class=> "imgMaster" ) %>

<% 3.times do %>
<% id = image[count][0].slice(0) %>
<% idStr =  "img" + id.to_s %> 
<%= image_tag("#{image_path_prefix}#{image[count][0]}",  :alt =>'',  :id=> "#{idStr}" , :class=> "imgRandom", :onClick =>"mouseClickFn(#{id})" ) %>
<%= content_tag(:label, image[count][1], :class=> "imgTitle") %>
<% count= count + 1 %> 
<% end %> 

</div>
<p id="pResult"></p>

